body{
  background: #343a40;
  color: aliceblue;
}
a{
  text-decoration: none;
}
.App{
  /* border: 1px solid yellow; */
  margin-top:5rem;
  display:flex;
  justify-content:center;
}

.batch-buttons{
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.btn-batch{
  margin:1rem;
  padding: 2rem;
  width: 100%;
}
